@import url("http://fonts.cdnfonts.com/css/sequel");

html {
    font-size: 100%;
}

h1 {
    font-family: "Sequel", sans-serif;
    font-size: 3.5vw;
    font-weight: 300;
    color: white;
}

h2 {
    font-family: "Sequel", sans-serif;
    font-size: 2.5vw;
    font-weight: 300;
    color: black;
}

h4 {
    font-family: "Sequel", sans-serif;
    font-size: 1.2vw;
    font-weight: 100;
    color: white;
}

.pdfImage {
    width: 20%;
}

.pdf-container {
    position: relative;
    left: 15%;
    width: 70%;
    height: 800px;
    background-color: #e4e4e4;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    display: inline-block;
    position: relative;
    top: 0;
}

.backgroundImage {
    width: 100%;
    height: auto;
    display: block;
}

.titleText {
    position: absolute;
    top: 0;
    margin-top: 35vw;
    left: 2%;
}

.titleButton {
    position: absolute;
    top: 0;
    margin-top: 40.5vw;
    left: 2%;
    width: 10vw;
    height: 8vh;
}

.center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tools {
    width: 90vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    margin-left: 2vw;
}

.link {
    text-decoration: none;
}

.toolsHeader {
    margin-top: 2vw;
    margin-left: 2vw;
    position: relative;
    width: 90%;
    height: 100%;
    border-bottom: 2px solid black;
}

.navbar {
    width: 100vw;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    position: absolute;
    display: inline-block;
}

.navbarLogo {
    margin-left: 5vw;
    width: 7vh;
    display: inline-block;
}

.navbarText {
    margin-left: 4vw;
    display: inline-block;
    cursor: pointer;
}

.navbarButton {
    margin-left: 2vw;
    width: 8vw;
    height: 4.5vh;
}

.navbarButtonText {
    width: 100%;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
